*.pyc
*.log
*.cpython-36
.idea/
.git/
public/
static/
logs/
.env/postactivate
.env/predeactivate
.env/gov.json
__pycache__/
static.old/
public.old/
.vscode/
tmp/
offers_img/
groups.yml
.coverage
audio.mp3
models/
audio_chunks/